<h2>Welcome to brewery finder</h2>

<p>Resources:</p>
<a href="http://www.brewerydb.com/developers">brewerydb API</a><br>
<a href="https://developers.google.com/maps/web/">Google Maps API</a><br><br>


<form id="city" action="/breweries" method="post">
  <input type="text" name="city" placeholder="San Francisco">
  <input type="submit" value="search">
</form>


<div id="map-canvas"></div>
<div><ul id="brew"></ul></div>
