<style type="text/css">
  html, body, #map-canvas { width: 75%; height: 75%; margin: 0; padding: 0;}
</style>

<script>
function initialize() {
  var myLatlng = new google.maps.LatLng(37.930406, -122.025508);
  var mapOptions = {
    zoom: 4,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  for(var i=0; i<@city_brew.length; i++) {
    var myLatLng = new google.maps.LatLng(@city_brew[i][1], @city_brew[i][2]);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: @city_brew[i][0]
    });
  }
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>



<h2>Welcome to brewery finder</h2>

<p>Resources:</p>
<a href="http://www.brewerydb.com/developers">brewerydb API</a><br>
<a href="https://developers.google.com/maps/web/">Google Maps API</a><br><br>


<form action="/breweries" method="post">
  <input type="text" name="city" placeholder="city">
  <input type="submit" value="search">
</form>

<div>
  <h2>List of breweries:</h2>
  <p>Found <%= @city_brew.size %> breweries.</p>
  <%= @breweries %>
</div>



<div id="map-canvas"></div>






